<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiserv.dao.SysRolePermissionDao">
    <!-- SysRolePermission的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_SysRolePermission_Map" type="com.wiserv.bean.po.SysRolePermission">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="permission_id" property="permissionId" />
    </resultMap>

	   <!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value} <if test="req.suffix != null"> ${req.suffix}</if>
            </foreach>
        </where>
    </sql>

	   <!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value} <if test="req.suffix != null"> ${req.suffix}</if>
            </foreach>
        </where>
    </sql>

    <!-- 数据库中表名为:sys_role_permission的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="sys_role_permission_Column">
        sys_role_permission.id as id
        ,sys_role_permission.role_id as role_id
        ,sys_role_permission.permission_id as permission_id
    </sql>

    <!--获得类名为:SysRolePermission对应的数据库表的数据总行数 -->
    <select id="getSysRolePermissionRowCount" parameterType="com.wiserv.common.Assist" resultType="java.lang.Long">
        select count(id) from sys_role_permission
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <!-- 获得类名为:SysRolePermission对应数据库中表的数据集合 -->
    <select id="selectSysRolePermission" parameterType="com.wiserv.common.Assist"  resultMap="result_SysRolePermission_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="sys_role_permission_Column" /> 
            </otherwise>
        </choose>
        from sys_role_permission
        <choose>
            <when test="rowSize ==null">
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
            </when>
            <otherwise>
                inner join
                (
                SELECT id as primary_key FROM sys_role_permission
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
                <choose>
                    <when test="startRow !=null and rowSize !=null">LIMIT #{startRow},#{rowSize} </when>
                    <when test="rowSize !=null">LIMIT #{rowSize}</when>
                 </choose>
                 ) as tmp
                 on tmp.primary_key=sys_role_permission.id
            </otherwise>
        </choose>
    </select> 

    <!-- 获得一个SysRolePermission对象,以参数SysRolePermission对象中不为空的属性作为条件进行查询-->
    <select id="selectSysRolePermissionByObj" parameterType="com.wiserv.bean.po.SysRolePermission" resultMap="result_SysRolePermission_Map">
        select 
            <include refid="sys_role_permission_Column" /> 
        from sys_role_permission
        <where>
            <if test="permissionId != null "> and sys_role_permission.permission_id = #{permissionId}</if>
            <if test="roleId != null "> and sys_role_permission.role_id = #{roleId}</if>
            <if test="id != null "> and sys_role_permission.id = #{id}</if>
        </where>
    </select> 

    <!-- 通过SysRolePermission的id获得对应数据库中表的数据对象-->
    <select id="selectSysRolePermissionById" parameterType="java.lang.Integer" resultMap="result_SysRolePermission_Map">
        select 
            <include refid="sys_role_permission_Column" /> 
        from sys_role_permission
        where sys_role_permission.id = #{id}
    </select> 

    <!-- 将SysRolePermission插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertSysRolePermission" parameterType="com.wiserv.bean.po.SysRolePermission">
        insert into sys_role_permission(id,role_id,permission_id) 
        values(#{id},#{roleId},#{permissionId})
    </insert>

    <!-- 将SysRolePermission中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptySysRolePermission" parameterType="com.wiserv.bean.po.SysRolePermission">
        insert into sys_role_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="roleId != null">role_id,</if>
            <if test="permissionId != null">permission_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="roleId != null"> #{roleId},</if>
            <if test="permissionId != null"> #{permissionId},</if>
        </trim>
    </insert>

    <!-- 通过SysRolePermission的id将数据库表中对应的数据删除-->
    <delete id="deleteSysRolePermissionById" parameterType="java.lang.Integer">
        delete from sys_role_permission
        where id = #{id}
    </delete>

    <!-- 通过辅助工具Assist中的条件将SysRolePermission对应的数据库表的数据删除-->
    <delete id="deleteSysRolePermission" parameterType="com.wiserv.common.Assist">
        delete from sys_role_permission
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <!-- 通过SysRolePermission的id将SysRolePermission的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateSysRolePermissionById" parameterType="com.wiserv.bean.po.SysRolePermission">
        update sys_role_permission set
            role_id=#{roleId}
            ,permission_id=#{permissionId}
        where id=#{id}
    </update>

    <!-- 通过SysRolePermission的id将SysRolePermission中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptySysRolePermissionById" parameterType="com.wiserv.bean.po.SysRolePermission">
        update sys_role_permission
        <set>
            <if test="roleId != null">
                role_id=#{roleId},
            </if>
            <if test="permissionId != null">
                permission_id=#{permissionId},
            </if>
        </set>
        where id=#{id}
    </update>

    <!-- 通过辅助工具Assist中的条件将SysRolePermission中的数据更新到数据库对应的表中,包括值为null的数据-->
    <update id="updateSysRolePermission" parameterType="map">
        update sys_role_permission
        <set>
                id=#{enti.id},
                role_id=#{enti.roleId},
                permission_id=#{enti.permissionId},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <!-- 通过辅助工具Assist中的条件将SysRolePermission中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptySysRolePermission" parameterType="map">
        update sys_role_permission
        <set>
            <if test="enti.id != null">
                id=#{enti.id},
            </if>
            <if test="enti.roleId != null">
                role_id=#{enti.roleId},
            </if>
            <if test="enti.permissionId != null">
                permission_id=#{enti.permissionId},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>